.nounderline:hover {
    text-decoration: none;
}

.noselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nofocus:focus {
    box-shadow: none;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-auto {
    cursor: auto;
}

/* fix file input box rounded corners bug */
.rounded-right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* fix modal centering */
.modal-content {
  width:100%;
}

.modal-dialog-centered {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  min-height:calc(100% - (.5rem * 2));
}

@media (min-width: 576px) {
  .modal-dialog-centered {
    min-height:calc(100% - (1.75rem * 2));
}

/* scrollable divs */
.scrollable {
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}
.collapsing {
    overflow-x: hidden;
    overflow-y: hidden;
}

.alert {
  color: #495057;
}

.margin-left {
  margin-left: 30px;
}

.margin-right {
  margin-right: 30px;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-image: -moz-linear-gradient(top, rgba(120,158,219,0.6) 0%, rgba(237,118,83,0.5) 100%); /* FF3.6-15 */
  background-image: -webkit-linear-gradient(top, rgba(120,158,219,0.6) 0%,rgba(237,118,83,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
  background-image: #c5d6f0;
  background-image: linear-gradient(to bottom, rgba(120,158,219,0.6) 0%,rgba(237,118,83,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
